/*! Resrt all defult css elements  */
/* Global styles  */
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span,a{
    display: inline-block;
}

body {
    font-family: "Nunito", sans-serif;
    color: #212529;
    position: relative;
  }

  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }

  .container{
    
    width: 90%;
    margin: auto;
    /* text-align: center; */
    padding: 50px 10px;
   
  }


  /*! ====================Reusable styles====================================== */

   .btn-main{

    border: 1px solid #fff;
    padding: 8px 12px;
    border-radius: 100vh;
   font-size: 14px;
   margin-top: 20px;
   text-transform: uppercase;
   transition: background-color 400ms, border-color 400ms;
  

   }

   .btn-main:hover{
    background-color:#e43c5c;
    border-color: #e43c5c;


   }


   .main-title{
    text-align:center;
    width: fit-content;
    margin: auto;
   margin-top: 35px;
    
   }

   .main-title h2 {
    font-size:15px ;
   text-transform: uppercase;
   width: fit-content;
   margin-inline:auto;
   color: #e43c5c;
   background-color: #fdeff2;
   border-radius: 100vh;
   padding: 5px 20px;

   }

   .main-title h3 {
    font-size: 30px;
    margin-block:10px;

   }
   .main-title span{
    color: #e43c5c;

   }

   .main-title p{
    max-width: 600px;
    font-weight: 700;
   }

  /* ?==============================Home_section======================= */
  .navbar_sec{
    position: fixed;
    top:0 ;
    right: 50;
   
    height: 100%;
    width: fit-content;
    
    

  }
   .navbar_sec ul {
    display: flex;
    margin-right: 50px;
    
    
 }

 .navbar_sec ul li {
    margin-left: 20px;
    color: #e43c5c;
 }

 .navbar_sec ul li a:hover,.navbar_sec ul li a:active{
   
    border:1px transparent #e43c5c;
    color: #e43c5c;
 }

  .Home_Sec{
    height: 100vh;
   background-image: url(../Images/hero-bg.jpg);
   background-size: cover;
   overflow: auto;
   color: #fff;
  
   
  }
  .Home_Sec .overlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }

  
  .Home_Sec .container{
    text-align: center;
  }
  
  .Home_Sec span {
    padding: 8px 30px;
    background-color: #fff8;
    border-radius: 100vh;
    font-size: 27px;
  }
  .Home_Sec h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin-block: 25px 10px;
  }
  .Home_Sec p{
    font-size: 24px;
    margin: 0;
  }

  /* ?==================================Services_section================================= */
 .services .cards{
 margin-top: 50px;
 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
 
 gap: 1%;
 
 


  }
  .services .item {
    
    width: 24%;
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    border-radius: 10px;
    text-align: center;
    padding: 70px 15px;
    position: relative;
    
    isolation: isolate;
    overflow: hidden;
    



  }
  .services .item::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e43c5c;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: top 400ms;
    z-index: -1;
    
  }

  .services .item:hover, .services .item:hover i{
    color: #fff;
  }
  .services .item:hover::after{
    top:0;
    
    
  }

  .services .item i{
   color: #e43c5c;
   font-size: 35px;
   transition: color 400ms;
   margin-bottom: 15px;
  }
  .services .item h3 {
    margin-bottom: 15px;
  }

  /* ==================================================portofolio============================================= */
    
  .gallary ul {
    
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
  }
  .gallary ul li {
    margin-inline:20px ;
    border-radius: 100vh;
    background-color: #ede9e9;
    padding: 5px 20px;
    color: #444444;
    transition: background-color 400ms, color 400ms;

    
  }
  .gallary ul li:hover,.gallary ul li.active{

    background-color: #e43c5c;
  color: #fff;
  }
  .cards{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1%;
        
    }

  
    .cards .card {

        width: 25%;
        margin-right: 15px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        
    }

    .cards .card:hover .layer{
        bottom: 0;
    }


    
   .cards .card img {
        width: 100%;
        transition: transform 400ms;
    }
    .cards .card:hover img{
        transform: translateY(-15px);
    }

    .cards .card .layer{

        position: absolute;
        bottom: -100px;
        left: 0;
        background-color: #e43c5c;
        transition: bottom 400ms;
        padding: 15px;
        color: #fdeff2;
        width: 100%;

    }

    .cards .card .layer.icons a{
       cursor: pointer;

    }

    .card:nth-child(3n){
        margin-right: 0px;
    }

    /* ==========================================contactUs========================================== */
    .contactus{
        background:#f8f8f8 ;
        display: flow-root;
    }
    .contact_map{
        margin-block:40px;
    }

    .contact{
        display: flex;
        justify-content: space-between;
    }
    
    .main_Display_contact{
        display: flex;
        margin-bottom: 20px;
       

        
    }

    
     .icons  {
        text-align: center;
        color: #e43c5c;
        width: fit-content;
        height: 20%;
        background:#fdeff2;
        border-radius: 100%;
        padding: 5px 10px

    }

    .icons_content{
        margin-left: 10px;

    }
    .icons_content h4{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .icons_content p {
        color: #686868;
        font-size: 12px;
        margin-left: 5px;

    }

    .contact_forms{
        
        float: right;
        width: 65%;
        
    }
    .contact_content{
       float: left;
       width: 30%;


    }
    
    .input_group{

        width: 100%;
        display: flex;
        gap: 15px;


        
    }
    .contact_forms input {
        padding: 10px 15px;
        width: 100%;
        border: 1px solid #ccc;
       font-family: inherit;
       margin-bottom: 15px;
    }

    .contact_forms textarea{

        padding: 40px 20px;
        width: 100%;
        border: 1px solid #ccc;
       font-family: inherit;
       
    }

    .contact_forms input:focus, .contact_forms textarea:focus{
        outline: none;
        border-color: #e43c5c;

    }

    .btn-submit{
        border: 1px solid #fff;
        padding: 8px 12px;
        border-radius: 100vh;
        font-size: 14px;
        margin-top: 20px;
       text-transform: uppercase;
       background-color: #e43c5c;
       color: #fff;
       transition: background-color 400ms, border-color 400ms;
       
    }


   .btn-submit:hover{
    background-color:#ccc;
    border-color: #ccc;


   }